<div class="row">
  <div class="col-md-3">
    <div class="card">
      <%= image_tag avatar_url(@user), class: "rounded w-100" %>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        Verification
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% if @user.confirmation_token %>
            Email Address <span class="pull-right"><i class="fa fa-check-circle-o color-info"></i></span>
          <% end %>
          <br>
          <% if @user.phone_number %>
          Phone Number<span class="pull-right"><i class="fa fa-check-circle-o color-info"></i></span>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9 ">
    <h2 class="text-center"><%= @user.fullname %></h2>
    <div class="card">
      <%= @user.description %>
    </div>
  </div>
</div>